.nav {
    display: flex;
    column-gap: 2rem;
}
.nav .nav__tab {
    padding-top: 4px;
    border-bottom: 4px solid transparent;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    position: relative;
    transition: color 100ms ease;
}
.nav .nav__tab::after {
    content: "";
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0;
    height: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease;
    background:
        linear-gradient(90deg, transparent 0 39%, #87cefa 39% 40%, transparent 40% 100%),
        linear-gradient(90deg, transparent 0 43%, #87cefa 43% 45%, transparent 45% 100%),
        linear-gradient(90deg, transparent 0 48%, #87cefa 48% 51%, transparent 51% 100%),
        linear-gradient(90deg, transparent 0 53%, #87cefa 53% 56%, transparent 56% 100%),
        linear-gradient(90deg, var(--color-primary) 0 56%, #87cefa 56% 100%);
}
.nav .nav__tab.router-link-active {
    border-color: transparent;
}
.nav .nav__tab.router-link-active::after {
    opacity: 1;
}
.nav .nav__tab:hover {
    border-color: transparent;
}
.nav .nav__tab:hover::after {
    opacity: 1;
}
.nav .nav__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav .nav__actions .nav__icon {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease;
}
.nav .nav__actions .nav__icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav .nav__actions .nav__icon img {
    height: 1.5rem;
}
.nav .nav__actions .nav__cta {
    margin-left: 1rem;
    padding: 1rem;
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.5rem 0 rgba(0, 0, 102, 0.5);
    transition: transform 100ms ease;
}
.nav .nav__actions .nav__cta:hover:not(:active) {
    transform: translateY(-2px);
}
