.nav {
    display: flex;
    column-gap: 2rem;
}
.nav .nav__tab {
    padding-top: 4px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    position: relative;
    transition: color 100ms ease;
}
.nav .nav__tab::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms ease;
    background: linear-gradient(
        90deg,
        var(--color-primary) 0 calc(100% - 34px),
        #87cefa calc(100% - 34px) calc(100% - 31px),
        var(--color-primary) calc(100% - 31px) calc(100% - 28px),
        #87cefa calc(100% - 28px) calc(100% - 24px),
        var(--color-primary) calc(100% - 24px) calc(100% - 22px),
        #87cefa calc(100% - 22px) calc(100% - 17px),
        var(--color-primary) calc(100% - 17px) calc(100% - 15px),
        #87cefa calc(100% - 15px) 100%
    );
}
.nav .nav__tab.router-link-active {
    border-color: transparent;
}
.nav .nav__tab.router-link-active::after {
    opacity: 1;
}
.nav .nav__tab:hover {
    border-color: transparent;
}
.nav .nav__tab:hover::after {
    opacity: 1;
}
.nav .nav__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav .nav__actions .nav__icon {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease;
}
.nav .nav__actions .nav__icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav .nav__actions .nav__icon img {
    height: 1.5rem;
}
.nav .nav__actions .nav__cta {
    margin-left: 1rem;
    padding: 1rem;
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.5rem 0 rgba(0, 0, 102, 0.5);
    transition: transform 100ms ease;
}
.nav .nav__actions .nav__cta:hover:not(:active) {
    transform: translateY(-2px);
}
