.page-leaderboard-container {
    display: block;
}
.page-leaderboard {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(24rem, 2fr) 3fr;
    grid-template-rows: max-content 1fr;
    column-gap: 2rem;
    max-width: 80rem;
    margin: 0 auto;
}
.page-leaderboard > div {
    overflow-y: auto;
}
.page-leaderboard .error-container {
    grid-row: 1;
    grid-column: 1 / span 2;
}
.page-leaderboard .error-container .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
}
.page-leaderboard .board-container,
.page-leaderboard .player-container {
    grid-row: 2;
    padding-block: 2rem;
}
.page-leaderboard .board-container {
    padding-inline: 1rem;
}
.page-leaderboard .board {
    table-layout: auto;
    display: block;
    width: 100%;
}
.page-leaderboard .board .rank {
    padding-block: 1rem;
    text-align: end;
}
.page-leaderboard .board .total {
    padding: 1rem;
    text-align: end;
}
.page-leaderboard .board .user {
    width: 100%;
}
.page-leaderboard .board .user button {
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
}
.page-leaderboard .board .user button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
    cursor: pointer;
}
.page-leaderboard .board .user.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
.page-leaderboard .player {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
}
.page-leaderboard .player .table {
    table-layout: fixed;
}
.page-leaderboard .player .table tr td:not(:last-child) {
    padding-right: 2rem;
}
.page-leaderboard .player .table p,
.page-leaderboard .player .table a {
    padding-block: 1rem;
}
.page-leaderboard .player .table .rank p,
.page-leaderboard .player .table .score p {
    text-align: end;
}
.page-leaderboard .player .table .level {
    width: 100%;
}
.page-leaderboard .player .table a:hover {
    text-decoration: underline;
}
.special-text {
    background-color: DeepSkyBlue;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    display: inline-block; /* This is key to make it wrap the text */
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 191, 255,0.6);
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
}
/* I will update this soon - Sdrawkcab*/
.champion-text { 
    background-color: rgba(255, 0, 0, 1);
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    display: inline-block; /* This is key to make it wrap the text */
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
}
.CCWinner1-text { 
    background-color: rgba(255, 220, 0, 1);
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    display: inline-block; /* This is key to make it wrap the text */
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 10 0 10px rgba(255, 220, 0, 0.6);
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 191, 255, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
    }
}
@keyframes pulse-red {
    0% {
        box-shadow: 0 0 10px rgba(130, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(130, 0, 130, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(130, 0, 0, 0.5);
    }
}
/* CC1 = Creator contest 1 winner */
@keyframes pulse-CC1 { 
    0% {
        box-shadow: 10 0 10px rgba(255, 255, 0, 0.5);
    }
    50% {
        box-shadow: 10 0 20px rgba(255, 255, 130, 1);
    }
    100% {
        box-shadow: 10 0 10px rgba(255, 255, 0, 0.5);
    }
}

.special-text {
    animation: pulse 2s infinite;
}
.very-special-text {
    animation: pulse-red 1s infinite;
}
.CCWinner1-text {
    animation: pulse-CC1 2s infinite;
}

