.page-list-custom .list-container,
.page-list-custom .level-container {
    display: none;
}

.page-list-custom .records-panel {
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 1rem;
}

.page-list-custom .records {
    width: 100%;
    border-collapse: collapse;
}

.page-list-custom .record {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.page-list-custom .record td {
    padding: 12px;
    font-size: 0.9rem;
}

.page-list-custom .record .user a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
}

.page-list-custom .record .user a:hover {
    text-decoration: underline;
}

.page-list-custom .record .percent p,
.page-list-custom .record .hz p {
    margin: 0;
    font-weight: 700;
}

.page-list-custom .meta-container {
    padding-top: 0;
}

.page-list-custom .meta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page-list-custom .meta .editors {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0;
}
